<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '10'}"/>
<section class="p-xlg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
            </div>
        </div>
        <div class="row mt-lg">
            <div class="col-sm-4 pb-xlg">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}"/>
            </div>
            <div class="col-sm-4 pb-xlg">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/>
            </div>
            <div class="col-sm-4 pb-xlg">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/>
            </div>
        </div>
    </div>
</section>
