<footer id="footer" class="{footerBackground}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{footerFromPage}', colPos: '0'}"/>
      </div>
      <div class="col-xs-12 col-md-3">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{footerFromPage}', colPos: '1'}"/>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="col-xs-12 col-md-9">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{footerFromPage}', colPos: '4'}"/>
      </div>
      <div class="col-xs-12 col-md-3">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{footerFromPage}', colPos: '5'}"/>
      </div>
    </div>
  </div>
</footer>
